<main>
    <section class="center-section">
    <h2 class="h2">About</h2>
    <p class="def">COB2用のダメージ計算サイトです．</p>
    <p class="def">"メガシンカ" "Z技" "ダイマックス" "テラスタル" を共用できます．</p>
  </section>

  <section class="center-section">
    <h2 class="h2">How to use</h2>
    <p class="def">1. ポケモンの名前を入力して検索ボタンを押します．</p>
    <p class="def">2. 性格補正や努力値・個体値を入力します．</p>
    <p class="def">3. 技の威力を入力して計算ボタンを押します．</p>
  </section>

  <div class="flex-container">
    <div class="left-column">
      <h2 class="h2_main_at">攻撃側のポケモン</h2>
      <form method="post">
        <input type="hidden" name="action" value="search_at">
        <label class="lav_p">ポケモン名: <input class="lav_p" type="text" name="search_name_At" value="{{ search_name_At }}"></label>
        <button class="button" type="submit">検索</button>
      </form>
    </div>

    <div class="right-column">
      <h2 class="h2_main_def">防御側のポケモン</h2>
      <form method="post">
        <input type="hidden" name="action" value="search_bl">
        <label class="lav_p">ポケモン名: <input class="lav_p" type="text" name="search_name_Bl" value="{{ search_name_Bl }}"></label>
        <button class="button" type="submit">検索</button>
      </form>
    </div>
  </div>

  <!-- <section class="center-section">
    <h2 class="h2">攻撃技</h2>
        <p>
        <form method="post">
          <input type="hidden" name="action" value='search_skill'>
          <label class="lav_p">技名: <input class="lav_p" type="text" name="search_name_skill" value="{{ search_name_skill }}"></label>
          <button class="button" type="submit">検索</button>
        </form>
        </p>
        <p><label class="lav_p_sm4">技が見つからない場合は下記を入力してください: <input type="checkbox" name="not_skill_name" {% if not_max %}checked{% endif %}></label></p>
        <p>
        <label class="lav_p">技名: <input class="lav_p" type="text" name="skill_name" value="{{ skill_name or 'じしん' }}"></label>
        </p>
        
  </section> -->


  {% if at_power is not none and bl_power is not none %}
  <!-- 計算フォーム（攻防まとめて） -->
  <form method="post" style="margin-top: 2rem;">
    <input type="hidden" name="action" value="calculate">

    <div class="flex-container">
      <div class="left-column">
        <p class="attack-stats">特殊要素</p>
        <p>
          <label class="lav_p">ダイマックス: <input type="checkbox" name="at_dynamax" {% if at_dynamax %}checked{% endif %}></label>
          <label class="lav_p_sm">レベル: <input class="small-input" type="number" name="at_dynamax_level" value="{{ at_dynamax_level or '0' }}"></label>
        </p>
        <p>
          <label class="lav_p">テラスタル: <input type="checkbox" name="at_terastal" {% if at_terastal %}checked{% endif %}></label>
          <label class="lav_p_sm2">Tタイプ: <input class="small-input" type="text" name="at_teras_type" value="{{ at_teras_type or 'ノーマル' }}"></label>
        </p>
        <p class="attack-stats">種族値</p>
        <p class="lav_p">こうげき(A) = {{ at_power }} / とくこう(C) = {{ co_power }}</p>

        <p class="attack-stats">攻撃技</p>
        <p>
        <label class="lav_p">物理 or 特殊:
          <select class="button" name="skill_type">
            <option class="lav_p" value="physical" {% if skill_type=='physical' %}selected{% endif %}>物理</option>
            <option class="lav_p" value="special" {% if skill_type=='special' %}selected{% endif %}>特殊</option>
          </select>
        </label>
        </p>
        <p>
        <label class="lav_p">タイプ: <input class="lav_p" type="text" name="type" value="{{ type or 'ノーマル' }}"></label>
        </p>

        <p><label class="lav_p">威力: <input class="lav_p" type="number" name="power" value="{{ power or '0' }}"></label></p>

        <!-- <p class="attack-stats">性格</p> -->
        <!-- <p class="lav_p"><label>補正値: <input class="lav_p" type="number" step="0.1" name="char_At" value="{{ char_At or '1' }}"></label></p> -->
        
        <p class="attack-stats">努力値</p>
        <p class="lav_p"><label>こうげき(A): <input class="lav_p" type="number" name="at_eff" value="{{ at_eff or '252' }}"></label></p>
        <p class="lav_p"><label>とくこう(C): <input class="lav_p" type="number" name="co_eff" value="{{ co_eff or '252' }}"></label></p>

        <p class="attack-stats">個体値</p>
        <p class="lav_p"><label>こうげき(A): <input class="lav_p" type="number" name="at_indv" value="{{ at_indv or '31' }}"></label></p>
        <p class="lav_p"><label>とくこう(C): <input class="lav_p" type="number" name="co_indv" value="{{ co_indv or '31' }}"></label></p>

        <p class="attack-stats">ランク</p>
        <p class="lav_p"><label>こうげき(A): <input class="lav_p" type="number" name="at_lank" value="{{ at_lank or '0' }}"></label></p>
        <p class="lav_p"><label>とくこう(C): <input class="lav_p" type="number" name="co_lank" value="{{ co_lank or '0' }}"></label></p>

        <p class="attack-stats">その他</p>
        <p class="lav_p"><label>性格: <input class="lav_p" type="text" step="0.1" name="char_At" value="{{ char_At or 'ようき' }}"></label></p>
        <p class="lav_p"><label>もちもの: <input class="lav_p" type="text" name="at_calc_value1" value="{{ at_calc_value1 or '' }}"></label></p>
      </div>

      <div class="right-column">
        <p class="defense-stats">特殊要素</p>
        <p>
          <label class="lav_p">ダイマックス: <input type="checkbox" name="bl_dynamax" {% if bl_dynamax %}checked{% endif %}></label>
          <label class="lav_p_sm">レベル: <input class="small-input" type="number" name="bl_dynamax_level" value="{{ bl_dynamax_level or '0' }}"></label>
        </p>
        <p>
          <label class="lav_p">テラスタル: <input type="checkbox" name="bl_terastal" {% if at_terastal %}checked{% endif %}></label>
          <label class="lav_p_sm2">Tタイプ: <input class="small-input" type="text" name="bl_teras_type" value="{{ bl_teras_type or 'ノーマル' }}"></label>
        </p>
        <p class="defense-stats">種族値</p>
        <!-- <p class="lav_p"><label>HP(H) 現在値: <input class="lav_p" type="number" name="base_hp" value="{{ base_hp or '0' }}"></label></p>
        <p class="lav_p">HP(補正済) = {{ hp_real }} </p> -->
        <p class="lav_p">HP(H) = {{ base_hp }} </p>
        <p class="lav_p_sm3">
        <label class="lav_p_sm3">最大値>現在値: <input type="checkbox" name="not_max" {% if not_max %}checked{% endif %}></label>
        <label class="lav_p_sm3">現在値: <input class="small-input" type="number" name="hp_real" value="{{ hp_real or '0' }}"></label></p>
        
        
        <p class="lav_p">ぼうぎょ(B) = {{ bl_power }} / とくぼう(D) = {{ de_power }}</p>

        <!-- <p class="defense-stats">HP現在値</p> -->
        <!-- <h2 class="h2">HP現在値</h2> -->
        <!-- <p class="lav_p"><label>HP(H): <input class="lav_p" type="number" name="base_hp" value="{{ base_hp or '0' }}"></label></p> -->

        <!-- <p class="defense-stats">性格</p> -->
        <!-- <p class="lav_p"><label>補正値: <input class="lav_p" type="number" step="0.1" name="char_Bl" value="{{ char_Bl or '1' }}"></label></p> -->
        

        <p class="defense-stats">努力値</p>
        <p class="lav_p"><label>HP(H): <input class="lav_p" type="number" name="hp_eff" value="{{ hp_eff or '252' }}"></label></p>
        <p class="lav_p"><label>ぼうぎょ(B): <input class="lav_p" type="number" name="bl_eff" value="{{ bl_eff or '252' }}"></label></p>
        <p class="lav_p"><label>とくぼう(D): <input class="lav_p" type="number" name="de_eff" value="{{ de_eff or '252' }}"></label></p>

        <p class="defense-stats">個体値</p>
        <p class="lav_p"><label>HP(H): <input class="lav_p" type="number" name="hp_indv" value="{{ hp_indv or '31' }}"></label></p>
        <p class="lav_p"><label>ぼうぎょ(B): <input class="lav_p" type="number" name="bl_indv" value="{{ bl_indv or '31' }}"></label></p>
        <p class="lav_p"><label>とくぼう(D): <input class="lav_p" type="number" name="de_indv" value="{{ de_indv or '31' }}"></label></p>

        <p class="defense-stats">ランク</p>
        <p class="lav_p"><label>ぼうぎょ(B): <input class="lav_p" type="number" name="bl_lank" value="{{ bl_lank or '0' }}"></label></p>
        <p class="lav_p"><label>とくぼう(D): <input class="lav_p" type="number" name="de_lank" value="{{ de_lank or '0' }}"></label></p>

        <p class="defense-stats">その他</p>
        <p class="lav_p"><label>性格: <input class="lav_p" type="text" step="0.1" name="char_Bl" value="{{ char_Bl or 'ずぶとい' }}"></label></p>
        <p class="lav_p"><label>もちもの: <input class="lav_p" type="text" name="bl_calc_value1" value="{{ bl_calc_value1 or '' }}"></label></p>

        <!-- 攻防 hidden input -->
        <input type="hidden" name="at_power" value="{{ at_power }}">
        <input type="hidden" name="co_power" value="{{ co_power }}">
        <input type="hidden" name="bl_power" value="{{ bl_power }}">
        <input type="hidden" name="de_power" value="{{ de_power }}">

        

      </div>
    </div>

    <div class="center-section">
      <h2 class="h2">共通条件</h2>
      <p class="lav_p"><label>天候: <input class="lav_p" type="text" name="weather" value="{{ weather or '' }}"></label></p>
      <p class="lav_p"><label>フィールド: <input class="lav_p" type="text" name="field" value="{{ field or '' }}"></label></p>
      <!-- <p>
        <label class="lav_p">物理 or 特殊:
          <select class="button" name="skill_type">
            <option class="lav_p" value="physical" {% if skill_type=='physical' %}selected{% endif %}>物理</option>
            <option class="lav_p" value="special" {% if skill_type=='special' %}selected{% endif %}>特殊</option>
          </select>
        </label>
      </p>
      <p><label>威力: <input class="lav_p" type="number" name="power" value="{{ power or '0' }}"></label></p>
      
      <h2 class="h2">HP現在値</h2>
      <input class="lav_p" type="number" name="base_hp" value="{{ base_hp or '0' }}"></label></p> -->

      <!-- 攻防 hidden input -->
      <!-- <input type="hidden" name="at_power" value="{{ at_power }}">
      <input type="hidden" name="co_power" value="{{ co_power }}">
      <input type="hidden" name="bl_power" value="{{ bl_power }}">
      <input type="hidden" name="de_power" value="{{ de_power }}"> -->

      <button class="button"type="submit">計算</button>
    </div>
  </form>
{% endif %}

{% if total_dmg is not none %}
  <section class="center-section">
    <h2 class="h2">ダメージ＆HP残量</h2>
    <p class="lav_p">ダメージ: {{ min_dmg }} ~ {{ max_dmg }}</p>
    <p class="lav_p">残りHP: {{ min_hp }} ~ {{ max_hp }} ({{par_min}}% ~ {{par_max}}%)</p>
    
    {% if kill != 5 %}
      <p class="lav_p">確定 {{ kill }} 発</p>
    {% else %}
      <p class="lav_p">確定 {{ kill }} 発以上</p>
{% endif %}

  </section>
{% endif %}

</main>